@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test CI</h1>
    <p class="lead">App for å test oppsett av CI med TeamCity.</p>
    <p><a href="https://confluence.jetbrains.com/display/TW/Documentation" class="btn btn-primary btn-lg">Team City dokumentasjon &raquo;</a></p>
</div>

<div class="row">
</div>